{% extends "layout.html" %}

{% block title %}
    Stonks
{% endblock %}

{% block main %}

<div class="mb-3">
    <h1>
        Add location
    </h1>
    <form method="post">
        <div class="form-group">
            <input class="form-control" name="location" placeholder="Location" type="text">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<div class="mb-3">
    Your locations:
</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Location</th>
            <th>Temperature</th>
            <th>Precipitation</th>
            <th>Wind</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<div class="mb-3">
    Your best bet:
</div>

{% endblock %}
