{% extends "index.html" %}

{% block title %}
    Weather
{% endblock %}

{% block main %}

<div class="mb-3">
    Your locations:
</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Location</th>
            <th>Temperature</th>
            <th>Precipitation</th>
            <th>Wind</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ location["location"]["name"] }}</td>
            <td>{{ location["current"]["temp_c"] }}</td>
            <td>{{ location["current"]["precip_mm"] }}</td>
            <td>{{ location["current"]["wind_kph"] }}</td>
        </tr>
    </tbody>
</table>
<div class="mb-3">
    Your best bet:
</div>

{% endblock %}
